<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="source" value=""/>
		<add key="destination" value=""/>
		<add key="logPath" value="D:\Application\PrintLetters\PrintFileLogs\"/>
		<add key="ToEmail" value=""/>
		<add key="FromEmail" value=""/>
		<add key="BccEmail" value=""/>
    <add key="ReportHour" value="06"/><!-- We need to pass hour in 24 hr format-->
    <add key="ToErrorEmail" value="ecample@gmail.com"/>

    <add key="PrinterName" value="HP LaserJet Enterprise M601 M602 M603 PCL6 Class Driver"/>
		<add key="SMTP" value="exchange@gmail.com"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
