<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="source" value="\\iqor.qor.com\client\AHS\Barataria\Denial Database - New Process\AxwayPrint"/>
		<add key="destination" value="\\iqor.qor.com\client\AHS\Barataria\Denial Database - New Process\AxwayPrint\Archive\"/>
		<add key="logPath" value="D:\Application\PrintLetters\PrintFileLogs\"/>
		<add key="ToEmail" value="qdiaxwayft@iqor.com"/>
		<add key="FromEmail" value="qdiaxwayft@iqor.com"/>
		<add key="BccEmail" value="pradeep.singh5@iqor.com"/>
    <add key="ReportHour" value="06"/><!-- We need to pass hour in 24 hr format-->
    <add key="ToErrorEmail" value="Sherry.Ferrer@iqor.com,pradeep.singh5@iqor.com,Kalil.Matthews@iqor.com,Sanjay.Kumar8@iqor.com,backofficeprintingteam@iqor.com"/>

    <add key="PrinterName" value="HP LaserJet Enterprise 600 M601 M602 M603 PCL6 Class Driver (Copy 1)"/>
		<add key="SMTP" value="exchange-relay.iqor.qor.com"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>